#inscreva-se{

    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main h2 {

    font-size: 22px;
    text-align: center;
    margin: 20px 0;
}

.inputs {

    display: flex;
    margin: 20px 0;
    text-align: center;
    background-color: #262626;
    color: white;
    border: 1px white;
    border-radius: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    font-size: 13px;

}

.inputs label, .inputs legend {

    display: flex;
    text-align: center;
    margin-bottom: 2px;
    padding: 5px 0;
    font-size: 1.2em;
}

.entradas {

    display: flex;
    padding: 5px 0 5px;
    width: 50%;
    border: 1px black solid;
    border-radius: 6px;
}

.checkbox {

    display: flex;
    margin: 2px 2px;
}

.imagens-login {

    display: flex;
}

.imagens-login img{

    background: #F3F3F3;
    align-items: left;
}

h3 {

    font-weight: bold;
    font-size: 17px;
    margin: 10px 0;
}


