#inscreva-se{

    background: #F3F3F3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main h2 {

    font-size: 22px;
    text-align: center;
    margin: 20px 0;
}

#inputs {

    display: flex;
    margin: 20px 0;
    text-align: center;
    background-color: #262626;
    color: white;
    border: 1px white;
    border-radius: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

#inputs label {

    display: flex;
    padding: 5px 0 5px;
    text-align: center;
    flex: 1;
}

.entradas {

    display: flex;
    padding: 5px 0 5px;
    width: 50%;
    border: 1px black solid;
    border-radius: 6px;
}

.checkbox {

    display: flex;
    margin: 2px 2px;
}