body {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {

  font-size: 2vw;
  font-weight: lighter;
}

header {

  background: #262626;
  padding: 20px 0;
  width: 100%;
}

.cotatos-link {

  float: right;
}

/* Alerar aqui para colocar um do lado do outro */
.header p {

  display: inline-block;
  color: antiquewhite;
  margin: 0px 1.5em;
  font-size: 0.8vw;
}

main p {

  font-size: 0.8vw;
}
