#headerContainer img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#headerContainer img:hover {
  opacity: 0.6;
  transform: scale(1.03);
}

#headerContainer .links-header:hover {
  color: #eb423f;
}

#headerContainer .links-header {
  color: white;
  padding-right: 80px;
  font-size: 0.9vw;
  float: right;
  cursor: pointer;
  text-decoration: none;
}

#headerContainer label:hover,
.links-header:hover {
  text-decoration: underline;
  color: #c78c19;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  height: 5vh;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 40px;
}

#fundo-logos img:hover {
  transform: scale(1.25);
}

.labelContainer {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
  border-width: 1px;
  border: solid #dcdcdc;
  margin: 10.7% 0% 0% 70%;
  width: 20%;
  height: 18vw;
  background-color: #262626;
}

.dropdown-content h2,
h3 {
  color: white;
  padding: 5%;
}

.dropdown-content input {
  margin-left: 14%;
  border-radius: 6px;
  width: 70%;
}

.dropdown-content button {
  cursor: pointer;
  margin-left: 32%;
  margin-top: 20%;
  background-color: #262626;
  transition: all 0.5s;
}

.dropdown-content button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-content button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dropdown-content button:hover span {
  padding-right: 25px;
}

.dropdown-content button:hover span:after {
  opacity: 1;
  right: 0;
}

.show {
  display: block;
}
