#headerContainer img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#headerContainer img:hover {
  opacity: 0.6;
  transform: scale(1.03);
}

#headerContainer .links-header:hover {
  color: #eb423f;
}

#headerContainer .links-header {
  color: white;
  padding-right: 80px;
  font-size: 0.9vw;
  float: right;
  cursor: pointer;
  text-decoration: none;
}

#headerContainer label:hover,
.links-header:hover {
  text-decoration: underline;
  color: #c78c19;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  height: 5vh;
  padding-left: 30px;
  padding-right: 40px;
}

#fundo-logos img:hover {
  transform: scale(1.25);
}
