#main-home {
    align-items: center;
}

#main-home h1{
    margin: 5% 0% 5% 42%;
}

main {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

main input{
    margin: 0% 0% 5% 35%;
    padding: 8px;
    border-radius: 12px;
    width: 30%;
    border: 3px solid #eee; 
}

#imagem_principal{
    width: 55%;
    height: 20vw;
    display: block;
    margin-left: 23%;
}

#exemplo-professor{
    display: flex;
    margin-top: 6%;
    margin-right: 17%;
    justify-content: center;
}

#exemplo-professor img{
    width: 17%;
    height: 13vw;
}

#exemplo-professor div{
    margin: 4% 0% 0% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#exemplo-professor h2{
    font-weight: bold;
    padding-bottom: 15px;
    
}

#exemplo-professor p1{
    line-height: 1.3;
    text-align: left;
}

#exemplo-aluno{
    background-color: #F3F3F3;
    display: flex;
    margin: 6% 20% 0% 22%;
    margin-top: 6%;
    justify-content: center;
}

#exemplo-aluno img{
    width: 25%;
    padding: 3%;
    height: 13vw;
}

#exemplo-aluno div{
    margin: 8% 0% 0% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#exemplo-aluno h2{
    font-weight: bold;
    float: right;
}

#exemplo-aluno p{
    line-height: 1.3;
    text-align: right;
}

#fundo-logos{
    display: flex;
    justify-content: space-around;
    margin: 3% 30% 5% 31%;
}

#fundo-logos h4{
    padding-top: 10px;
}

#fundo-logos img{
    padding-top: 70px;
}