#main-home {

    background: #F3F3F3;
    padding: 20px 0;
}

main {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#busca-curso {

    width: 200px;
    border-radius: 5px;
    border: 0.3px black;
    padding: 2px 0;
    margin: 20px 0;
    width: 15%;
}


main img {

    width: fit-content;
    height: fit-content;
}