#tituloContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#tituloContainer label{
  font-size: 30px;
  padding-top: 30px;
  color: black;
}

#submitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 23px;
  width: 400px;
  border-radius: 12px;
  border: 3px solid #eee;
  margin-top: 20px;
}

#tituloContainer img {
  width: 200px;
  height: 200px;
}

#tituloContainer input {
  flex: 1;
  border-style: none;
  padding-left: 8px;
}

#tituloContainer input:focus {
  outline: none;
}

#tituloContainer :hover {
  opacity: 0.9;
}

#submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/search-24px.svg');
}

#tituloContainer button {
  height: 23px;
  width: 25px;
  border-radius: 5px;
  border: none;
  background: none;
}

#pesquisaList {
  padding-left: 50px;
  padding-right: 50px;
}

#infoPesquisaContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  border-top: 1px solid rgb(197, 195, 195);
}

#userInfoContainer {
  width: 300px;
  padding-left: 60px;
}

p {
  margin-top: 15px;
}

#actionContainer button {
  width: 100px;
  height: 24px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.849);
  color: white;
}