body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 75px;
    padding-left: 200px;
    padding-top: 120px;
    padding-bottom: 25px;
}


.paragrafos{
    font-size: 25px;
    text-align: left;
    padding-left: 300px;
}

.vantagem::before{
    content: "■ ";

}

.frase-motivacional{
    font-family: garamond;
    padding-top: 25px;
    padding-left: 300px;
}

.autor{
    padding-left: 215px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.botao{
    margin-top: 25px;
    text-align: center;
    font-size: large;
    width: 250px;
    height: 50px;
    transition: 0.5s;
    border: none;
	border-radius: 5px;
}

.botao:hover{
    background-color: lightsalmon;
}
